@use "util/global" as *;

%flex-col {
  display: flex;
  flex-direction: column;
}

.main {
  @extend %flex-col;
  gap: rem(40px);
  @media (min-width: $bp1) {
    flex-direction: row-reverse;
    align-items: center;
    max-width: rem(928px);
    padding: rem(24px) rem(24px) rem(24px) rem(64px);
    gap: rem(64px);
  }
}

.illustration {
  img {
    width: 100%;
  }
  @media (min-width: $bp1) {
    flex-basis: rem(400px);
    flex-shrink: 0;
  }
}

.text {
  @extend %flex-col;
  gap: rem(24px);
  padding-inline: rem(24px);
  @media (min-width: $bp1) {
    padding-inline: 0;
  }
}

.heading {
  font-size: rem(40px);
  line-height: 1;
  font-weight: 700;
  @media (min-width: $bp1) {
    font-size: rem(56px);
  }
}

.list {
  display: grid;
  grid-template-columns: rem(21px) 1fr;
  column-gap: rem(16px);
  row-gap: rem(10px);
  margin-bottom: rem(40px);
}
