@use "util/global" as *;
@use "sass:color";

.form {
  padding: {
    inline: rem(24px);
    bottom: rem(40px);
  }
  @media (min-width: $bp1) {
    padding: 0;
  }
}

.label_container {
  display: flex;
  justify-content: space-between;
}

.label {
  display: block;
  font-size: rem(12px);
  line-height: 1.5;
  font-weight: 700;
  margin-bottom: rem(8px);
}

.input {
  width: 100%;
  height: rem(56px);
  border: 1px solid var(--clr-input-border);
  border-radius: rem(8px);
  padding: rem(16px) rem(24px);
  margin-bottom: rem(24px);
  color: var(--clr-text);
  &:focus,
  &:active {
    border-color: var(--clr-input-border-focus);
    outline: 0;
  }
  &::placeholder {
    color: color.change($dark-slate-grey, $alpha: 0.5);
  }
}

.input_error {
  border-color: var(--clr-input-error);
  color: var(--clr-input-error);
  background-color: color.change($tomato, $alpha: 0.149);
}

.error_message {
  font-size: rem(12px);
  font-weight: 700;
  color: var(--clr-input-error);
}
