@use "util/global" as *;
@use "sass:color";

.form {
  padding: {
    inline: rem(24px);
    bottom: rem(40px);
  }
}

.label {
  display: block;
  font-size: rem(12px);
  line-height: 1.5;
  font-weight: 700;
  margin-bottom: rem(8px);
}

.input {
  width: 100%;
  height: rem(56px);
  border: 1px solid var(--clr-input-border);
  border-radius: rem(8px);
  padding: rem(16px) rem(24px);
  margin-bottom: rem(24px);
  color: var(--clr-text);
  &:focus,
  &:active {
    border-color: var(--clr-input-border-focus);
    outline: 0;
  }
  &::placeholder {
    color: color.change($dark-slate-grey, $alpha: 0.5);
  }
}

.button {
  width: 100%;
  background-color: var(--clr-button-bg);
  color: var(--clr-button-text);
  border: 0;
  border-radius: rem(8px);
  font-weight: 700;
  line-height: 1.5;
  padding: {
    top: rem(18px);
    bottom: rem(14px);
  }
  cursor: pointer;
  &:hover,
  &:active {
    background-image: $gradient1;
    box-shadow: 0px 16px 32px 0px #ff615580;
  }
}
