@use "util/global" as *;

.main {
  padding: rem(149px) rem(24px) rem(40px);
}

.icon {
  margin-bottom: rem(40px);
}

.heading {
  font-size: rem(40px);
  font-weight: 700;
  line-height: 1;
  margin-bottom: rem(24px);
}

.paragraph {
  margin-bottom: rem(263px);
}

.bold {
  font-weight: 700;
}
