$REM: 16;

// Colors

$tomato: hsl(4, 100%, 67%);
$dark-slate-grey: hsl(234, 29%, 20%);
$charcoal-grey: hsl(235, 18%, 26%);
$grey: hsl(231, 7%, 60%);
$grey-25: hsla(243, 28%, 13%, 0.25);
$white: hsl(0, 0%, 100%);

$gradient1: linear-gradient(
  204deg,
  hsl(15, 100%, 61%) 0%,
  hsl(346, 100%, 66%) 100%
);

// Breakpoints

$bp1: 928px;
